.header, .footer {
    height: 50px;
    min-height: 50px;
}

.test {
    float: right;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
}

.test2 {
    float: left;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
}
